@import url(../fonts/stylesheet.css);
html, body {
  height: 100%;
  min-width: 900px;
}

body {
  padding: 0;
  margin: 0;
  font: 16px/1.2 "MyriadProRegular", Arial, sans-serif;
  color: #333333;
}

h1, h2, h3, h4, h5, b {
  font-family: "MyriadProBold";
  font-weight: normal;
}

i {
  font-family: "MyriadProItalic";
  font-style: normal;
}

a {
  outline: none;
}

[type="text"], [type="password"], textarea {
  width: 100%;
  font: 16px/1 "MyriadProRegular", Arial, sans-serif;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  background: #ba141a;
  display: inline-block;
  text-align: center;
  color: white;
  font-family: "MyriadProRegular";
  cursor: pointer;
  text-decoration: none;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn:hover {
  background: #9a1115;
}

.container {
  min-width: 870px;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.clearfix {
  clear: both;
  font-size: 0;
  line-height: 0;
}

.b-wrapper {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin-bottom: -60px;
}
.b-wrapper .b-wrapper__clear {
  clear: both;
  height: 60px;
}

.b-header {
  background: #ba141a;
  height: 50px;
  min-width: 900px;
  text-transform: uppercase;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
}
.b-header .b-logo {
  float: left;
}
.b-header .b-logo a {
  display: block;
  width: 80px;
  height: 17px;
  padding: 16px 0 17px;
  text-align: center;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.b-header .b-logo a:hover {
  background: #9a1115;
}
.b-header .b-nav {
  margin: 0 280px 0 80px;
  max-width: 800px;
  height: 100%;
  position: relative;
}
.admin .b-header .b-nav {
  margin: 0;
}
.b-header .b-nav .b-nav__item {
  float: left;
  width: 25%;
  position: relative;
}
.b-header .b-nav .b-nav__item > a {
  display: block;
  height: 16px;
  padding: 17px 0;
  font-size: 14px;
  line-height: 16px;
  color: white;
  text-decoration: none;
  text-align: center;
  border-left: 1px solid #ba141a;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.b-header .b-nav .b-nav__item > a.current {
  background: #9a1115;
}
.b-header .b-nav .b-nav__item > a [class^="icon-"] {
  margin-left: 5px;
}
.b-header .b-nav .b-nav__item .b-nav__item__popup {
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  background: white;
  visibility: hidden;
  opacity: 0;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.b-header .b-nav .b-nav__item .b-nav__item__popup a {
  display: block;
  padding: 10px;
  font-size: 12px;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #333333;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.b-header .b-nav .b-nav__item .b-nav__item__popup a:hover {
  background: #333333;
  color: white;
}
.b-header .b-nav .b-nav__item:hover > a {
  background: #9a1115;
}
.b-header .b-nav .b-nav__item:hover > .b-nav__item__popup {
  visibility: visible;
  opacity: 1;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.b-header .b-nav .b-nav__item.spec a {
  background: #009933;
}
.b-header .b-nav .b-nav__item.spec a:hover {
  background: #007527;
}
.b-header .b-nav .b-nav__item.active .b-nav__item__popup {
  background: #3d3d3d;
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 60px;
  width: 80px;
  visibility: visible;
  opacity: 1;
}
.b-header .b-nav .b-nav__item.active .b-nav__item__popup a {
  padding: 7px 0;
  font-size: 12px;
  color: #bababa;
  border-bottom: 1px solid #333333;
  text-align: center;
}
.b-header .b-nav .b-nav__item.active .b-nav__item__popup a:hover, .b-header .b-nav .b-nav__item.active .b-nav__item__popup a.current {
  background: #1a1a1a;
  color: white;
}
.b-header .b-social {
  float: right;
}
.b-header .b-social a {
  float: left;
  width: 50px;
  height: 30px;
  padding: 10px 0;
  font-size: 30px;
  line-height: 1;
  color: #9a1115;
  text-decoration: none;
  text-align: center;
  border-left: 1px solid #9a1115;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.b-header .b-social a:hover {
  color: white;
}
.b-header .b-order-btn {
  float: right;
}
.b-header .b-order-btn a {
  background: #333333;
  display: block;
  height: 18px;
  width: 100px;
  padding: 16px 0;
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-decoration: none;
  text-align: center;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.b-header .b-order-btn a:hover {
  background: black;
}

.b-section {
  padding: 50px 0 60px;
}

.b-banners {
  clear: both;
}
.b-banners .b-slide {
  background: black;
  text-align: center;
}
.b-banners .b-slide a {
  display: block;
}
.b-banners .b-slide img {
  vertical-align: top;
  max-width: 100%;
}
.b-banners .bx-pager {
  display: table;
  width: 100%;
}
.b-banners .bx-pager .bx-pager-item {
  display: table-cell;
}
.b-banners .bx-pager .bx-pager-item a {
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  background: #999999;
  border-left: 1px solid #333333;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.b-banners .bx-pager .bx-pager-item a.active {
  background: #ba141a;
}

.b-previews {
  clear: both;
  display: table;
  width: 100%;
}
.b-previews .b-previews__item {
  display: none;
}
.b-previews .b-previews__item a {
  display: block;
  position: relative;
  text-decoration: none;
  color: white;
}
.b-previews .b-previews__item a:hover .b-previews__item__popup {
  visibility: visible;
  opacity: 1;
}
.b-previews .b-previews__item img {
  width: 100%;
  vertical-align: top;
}
.b-previews .b-previews__item .b-previews__item__popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5%;
  background: rgba(186, 20, 26, 0.9);
  visibility: hidden;
  opacity: 0;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.b-previews .b-previews__item .b-previews__item__popup .b-previews__item_type {
  background: white;
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  color: #ba141a;
  text-transform: uppercase;
}
.b-previews .b-previews__item .b-previews__item__popup .b-previews__item_name {
  font-size: 24px;
  line-height: 1;
  padding: 5px 0;
}
.b-previews .b-previews__item:nth-child(-n + 3) {
  display: table-cell;
  width: 100%/3;
}
@media screen and (min-width: 750px) {
  .b-previews .b-previews__item:nth-child(-n + 3) {
    display: table-cell;
    width: 33.33333%;
  }
}
@media screen and (min-width: 1000px) {
  .b-previews .b-previews__item:nth-child(-n + 4) {
    display: table-cell;
    width: 25%;
  }
}
@media screen and (min-width: 1250px) {
  .b-previews .b-previews__item:nth-child(-n + 5) {
    display: table-cell;
    width: 20%;
  }
}
@media screen and (min-width: 1500px) {
  .b-previews .b-previews__item:nth-child(-n + 6) {
    display: table-cell;
    width: 16.66667%;
  }
}
@media screen and (min-width: 1750px) {
  .b-previews .b-previews__item:nth-child(-n + 7) {
    display: table-cell;
    width: 14.28571%;
  }
}
@media screen and (min-width: 2000px) {
  .b-previews .b-previews__item:nth-child(-n + 8) {
    display: table-cell;
    width: 12.5%;
  }
}
@media screen and (min-width: 2250px) {
  .b-previews .b-previews__item:nth-child(-n + 9) {
    display: table-cell;
    width: 11.11111%;
  }
}
@media screen and (min-width: 2500px) {
  .b-previews .b-previews__item:nth-child(-n + 10) {
    display: table-cell;
    width: 10%;
  }
}

.b-clients {
  padding: 55px 0;
  display: table;
  width: 100%;
}
.b-clients .b-clients__item {
  display: none;
  vertical-align: middle;
  width: 20%;
  padding: 45px 0;
  text-align: center;
  border-left: 1px solid #cccccc;
}
.b-clients .b-clients__item:first-child {
  border: none;
}
.b-clients .b-clients__item:nth-child(-n + 3) {
  display: table-cell;
  width: 100%/3;
}
@media screen and (min-width: 750px) {
  .b-clients .b-clients__item:nth-child(-n + 3) {
    display: table-cell;
    width: 33.33333%;
  }
}
@media screen and (min-width: 1000px) {
  .b-clients .b-clients__item:nth-child(-n + 4) {
    display: table-cell;
    width: 25%;
  }
}
@media screen and (min-width: 1250px) {
  .b-clients .b-clients__item:nth-child(-n + 5) {
    display: table-cell;
    width: 20%;
  }
}
@media screen and (min-width: 1500px) {
  .b-clients .b-clients__item:nth-child(-n + 6) {
    display: table-cell;
    width: 16.66667%;
  }
}
@media screen and (min-width: 1750px) {
  .b-clients .b-clients__item:nth-child(-n + 7) {
    display: table-cell;
    width: 14.28571%;
  }
}
@media screen and (min-width: 2000px) {
  .b-clients .b-clients__item:nth-child(-n + 8) {
    display: table-cell;
    width: 12.5%;
  }
}
@media screen and (min-width: 2250px) {
  .b-clients .b-clients__item:nth-child(-n + 9) {
    display: table-cell;
    width: 11.11111%;
  }
}
@media screen and (min-width: 2500px) {
  .b-clients .b-clients__item:nth-child(-n + 10) {
    display: table-cell;
    width: 10%;
  }
}

.b-services {
  display: table;
  width: 100%;
  background: #f7f7f7;
  border-top: 1px solid #cccccc;
}
.b-services .b-services__item {
  display: table-cell;
  vertical-align: top;
  width: 33.33%;
  padding: 50px 0;
  border-left: 1px solid #cccccc;
}
.b-services .b-services__item .b-services__item__image {
  float: left;
  width: 120px;
  text-align: right;
}
.b-services .b-services__item .b-services__item__text {
  margin: 0 30px 0 150px;
  color: #666666;
}
.b-services .b-services__item .b-services__item__more {
  display: inline-block;
  margin-top: 30px;
  padding: 5px 15px;
  border: 1px solid #666666;
  color: #666666;
  text-decoration: none;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.b-services .b-services__item .b-services__item__more:hover {
  background: black;
  border-color: black;
  color: white;
}

.b-portfolio {
  background: #262626;
  padding: 20px 0 20px 80px;
}
.b-portfolio .b-portfolio__item {
  float: left;
  width: 33.33%;
  text-align: center;
}
.b-portfolio .b-portfolio__item a {
  display: inline-block;
  margin: 20px 0;
  position: relative;
  text-decoration: none;
  color: white;
  text-align: left;
}
.b-portfolio .b-portfolio__item a:hover .b-portfolio__item__popup {
  visibility: visible;
  opacity: 1;
}
.b-portfolio .b-portfolio__item img {
  max-width: 250px;
  vertical-align: top;
}
.b-portfolio .b-portfolio__item .b-portfolio__item__popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5%;
  background: rgba(186, 20, 26, 0.9);
  visibility: hidden;
  opacity: 0;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.b-portfolio .b-portfolio__item .b-portfolio__item__popup .b-portfolio__item_type {
  background: white;
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  color: #ba141a;
  text-transform: uppercase;
}
.b-portfolio .b-portfolio__item .b-portfolio__item__popup .b-portfolio__item_name {
  font-size: 24px;
  line-height: 1;
  padding: 5px 0;
}
@media screen and (min-width: 1200px) {
  .b-portfolio .b-portfolio__item {
    width: 25%;
  }
}
@media screen and (min-width: 1500px) {
  .b-portfolio .b-portfolio__item {
    width: 20%;
  }
}
@media screen and (min-width: 1800px) {
  .b-portfolio .b-portfolio__item {
    width: 16.66667%;
  }
}
@media screen and (min-width: 2100px) {
  .b-portfolio .b-portfolio__item {
    width: 14.28571%;
  }
}
@media screen and (min-width: 2400px) {
  .b-portfolio .b-portfolio__item {
    width: 12.5%;
  }
}
@media screen and (min-width: 2700px) {
  .b-portfolio .b-portfolio__item {
    width: 11.11111%;
  }
}
@media screen and (min-width: 3000px) {
  .b-portfolio .b-portfolio__item {
    width: 10%;
  }
}
.b-portfolio .b-portfolio__nav {
  background: #3d3d3d;
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 60px;
  width: 80px;
}
.b-portfolio .b-portfolio__nav a {
  display: block;
  padding: 7px 0;
  font-size: 12px;
  color: #bababa;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #333333;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.b-portfolio .b-portfolio__nav a:hover, .b-portfolio .b-portfolio__nav a.current {
  background: #1a1a1a;
  color: white;
}

.b-canon .b-canon__title {
  font-size: 35px;
  text-align: center;
  padding: 30px 0;
}
.b-canon .b-canon__title b {
  font-size: 40px;
  color: #ba141a;
}
.b-canon .b-canon__banner {
  background: black url(../images/canon-bg.jpg) center top no-repeat;
  height: 553px;
  padding: 90px 0 0;
  text-align: center;
}
.b-canon .b-canon__banner img {
  border: 40px solid white;
}
.b-canon .b-canon__aim {
  padding: 30px 0;
  color: #4d4d4d;
}
.b-canon .b-canon__aim h4 {
  font-size: 18px;
  margin: 5px 0;
  color: #ba141a;
}
.b-canon .b-canon__aim .b-canon__aim__author {
  color: black;
}
.b-canon .b-canon__stages {
  background: #ba141a;
  padding: 30px 0;
  color: white;
}
.b-canon .b-canon__stages h4 {
  font-size: 18px;
  margin: 5px 0;
}
.b-canon .b-canon__stages .number {
  font-size: 60px;
}
.b-canon .b-canon__stages .left {
  float: left;
  width: 45%;
}
.b-canon .b-canon__stages .right {
  float: right;
  width: 45%;
  text-align: right;
}
.b-canon .b-canon__realization {
  padding: 30px 0;
  text-align: center;
  color: black;
}
.b-canon .b-canon__realization h4 {
  background: #ba141a;
  display: inline-block;
  padding: 15px 20px;
  margin: 0 0 20px;
  font-size: 30px;
  color: white;
}
.b-canon .b-canon__realization h3 {
  font-size: 30px;
  margin: 20px 0 0;
}

.b-pager {
  clear: both;
  padding: 30px 0;
}
.b-pager a {
  width: 180px;
  text-align: center;
  padding: 5px 0;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.b-pager a:hover {
  background: black;
  color: white;
}
.b-pager a.b-pager__prev {
  float: left;
}
.b-pager a.b-pager__next {
  float: right;
}

.b-price {
  padding: 40px 0;
}
.b-price .red {
  color: #ba141a;
}
.b-price .b-price__title {
  font-size: 24px;
  text-decoration: underline;
}
.b-price .b-price__tabs {
  margin: 5px 0 15px;
}
.b-price .b-price__tabs a {
  display: inline-block;
  padding: 2px 10px;
  margin-right: 10px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  background: #ba141a;
}
.b-price .b-price__tabs a.current {
  background: #333333;
}
.b-price .b-price__table {
  float: left;
  width: 60%;
}
.b-price .b-price__table table {
  width: 100%;
  border-spacing: 10px;
  margin-left: -10px;
}
.b-price .b-price__table table th, .b-price .b-price__table table td {
  background: #f2f2f2;
  padding: 3px 10px;
  border: 1px solid #e6e6e6;
  text-align: left;
  color: black;
  font-size: 18px;
}
.b-price .b-price__table table th {
  font-family: "MyriadProBold";
  font-weight: normal;
}
.b-price .b-price__desc {
  float: right;
  width: 30%;
  text-align: right;
}
.b-price .b-price__desc .b-price__desc__title {
  background: #ba141a;
  font-size: 24px;
  color: white;
  padding: 2px 5px;
}
.b-price .b-price__desc .b-price__desc__attention {
  margin-top: 50px;
}
.b-price .b-price__desc .b-price__desc__attention .red {
  font-size: 30px;
  line-height: 1;
}
.b-price .b-price__form {
  clear: both;
  margin: 30px 0;
}
.b-price .b-price__form fieldset {
  background: #f2f2f2;
  padding: 15px 20px 5px;
  border: 1px solid #e6e6e6;
  margin-bottom: 15px;
}
.b-price .b-price__form .b-price__form__left {
  float: left;
  width: 40%;
}
.b-price .b-price__form .b-price__form__left input {
  background: white;
  border: 1px solid #e6e6e6;
  height: 30px;
  padding: 0 10px;
  margin: 10px 0;
}
.b-price .b-price__form .b-price__form__title {
  font-size: 18px;
}
.b-price .b-price__form .b-price__form__right {
  float: right;
  width: 50%;
}
.b-price .b-price__form .b-price__form__right textarea {
  background: white;
  border: 1px solid #e6e6e6;
  height: 130px;
  padding: 5px 10px;
}
.b-price .b-price__form .btn-wrapper {
  text-align: right;
}
.b-price .b-price__form .btn-wrapper .btn {
  border: none;
  padding: 0;
  width: 180px;
  height: 40px;
}
.b-price .b-price__attention {
  float: left;
  font-size: 12px;
  width: 350px;
}
.b-price .b-price__social {
  text-align: right;
}
.b-price .b-price__social a {
  background: #ba141a;
  display: inline-block;
  margin-left: 10px;
  width: 21px;
  height: 21px;
  font-size: 16px;
  line-height: 21px;
  color: white;
  text-align: center;
  text-decoration: none;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.b-price .b-price__social a:hover {
  background: #9a1115;
}

.b-support {
  padding-bottom: 70px;
}
.b-support .b-support__map {
  height: 400px;
  margin-bottom: 30px;
}
.b-support .b-support__form {
  clear: both;
  margin: 30px 0;
}
.b-support .b-support__form fieldset {
  border: none;
  padding: 0;
}
.b-support .b-support__form .b-support__form__input .star {
  float: left;
  margin-left: -10px;
}
.b-support .b-support__form .b-support__form__left {
  float: left;
  width: 35%;
}
.b-support .b-support__form .b-support__form__left input {
  background: #ba141a;
  border: 1px solid #e6e6e6;
  height: 28px;
  padding: 0 10px;
  margin: 0 0 20px;
  color: white;
}
.b-support .b-support__form .b-support__form__right {
  float: right;
  width: 60%;
}
.b-support .b-support__form .b-support__form__right textarea {
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
  height: 124px;
  padding: 5px 10px;
}
.b-support .b-support__form .note {
  float: left;
  font-size: 10px;
  color: #999999;
}
.b-support .b-support__form .btn-wrapper {
  float: right;
}
.b-support .b-support__form .btn-wrapper .btn {
  border: none;
  padding: 0;
  width: 100px;
  height: 30px;
}
.b-support .b-support__files {
  float: left;
  width: 40%;
}
.b-support .b-support__files .b-support__files__title {
  background: #ba141a;
  display: inline-block;
  font-size: 18px;
  font-family: "MyriadProBold";
  padding: 5px 15px;
  margin-bottom: 20px;
  color: white;
}
.b-support .b-support__files .b-support__files__item {
  background: #333333;
  display: inline-block;
  padding: 5px;
  margin-bottom: 7px;
  font-size: 13px;
  color: white;
  text-decoration: none;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.b-support .b-support__files .b-support__files__item:hover {
  background: black;
}
.b-support .b-support__contacts {
  float: left;
  width: 35%;
}
.b-support .b-support__contacts .red {
  font-size: 20px;
  color: #ba141a;
}
.b-support .b-support__line {
  background: #f7f7f7;
  height: 50px;
  margin: 45px 0;
}
.b-support .b-support__about {
  padding-bottom: 70px;
  border-bottom: 1px solid #e6e6e6;
}
.b-support .b-support__about .b-support__about__left {
  float: left;
  width: 50%;
}
.b-support .b-support__about .b-support__about__left h3 {
  color: #ba141a;
  margin: 0;
  font-size: 35px;
}
.b-support .b-support__about .b-support__about__right {
  background: #ba141a;
  position: relative;
  float: right;
  width: 40%;
  padding: 20px;
  color: white;
}
.b-support .b-support__about .b-support__about__right:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50px;
  border-style: solid;
  border-width: 45px 45px 0 0;
  border-color: #9a1115 transparent transparent;
}
.b-support .b-support__about .b-support__about__right h3 {
  margin: 0;
  font-size: 35px;
}
.b-support .b-support__clients {
  max-width: 870px;
  margin: 0 auto;
  text-align: center;
}
.b-support .b-support__clients h3 {
  font-size: 40px;
  color: black;
  margin: 15px 0;
}
.b-support .b-support__clients .b-support__clients__facia {
  position: relative;
  margin: 0 10% 70px;
  padding: 15px;
  background: #ba141a;
  color: white;
}
.b-support .b-support__clients .b-support__clients__facia:before, .b-support .b-support__clients .b-support__clients__facia:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-style: solid;
  border-width: 20px 0 0 50px;
  border-color: #a81217 transparent transparent;
}
.b-support .b-support__clients .b-support__clients__facia:after {
  left: auto;
  right: 0;
  border-width: 20px 50px 0 0;
}
.b-support .b-support__clients .b-support__clients__facia div:before, .b-support .b-support__clients .b-support__clients__facia div:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 28px;
  margin-top: 10px;
  border-style: solid;
  border-width: 10px 0 10px 22px;
  border-color: transparent transparent transparent #8c0f14;
}
.b-support .b-support__clients .b-support__clients__facia div:after {
  left: auto;
  right: 28px;
  border-width: 10px 22px 10px 0;
  border-color: transparent #8c0f14 transparent transparent;
}
.b-support .b-support__clients .b-support__clients__logos div {
  display: table;
  width: 100%;
}
.b-support .b-support__clients .b-support__clients__logos div:first-child .b-support__clients__logos__item {
  border-top: none;
}
.b-support .b-support__clients .b-support__clients__logos div .b-support__clients__logos__item {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
  padding: 45px 0;
  text-align: center;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}
.b-support .b-support__clients .b-support__clients__logos div .b-support__clients__logos__item:nth-child(1) {
  border-left: none;
}

.b-404 {
  text-align: center;
  padding: 50px 0;
}
.b-404 .b-404__image {
  background: url(../images/404.jpg) 0 0 no-repeat;
  display: inline-block;
  width: 578px;
  height: 442px;
}
.b-404 .b-404__image .b-404__image__text {
  padding: 20px 0;
  width: 260px;
  color: white;
}
.b-404 .b-404__image .b-404__image__text .number {
  font-size: 120px;
  line-height: 1;
}
.b-404 .b-404__line {
  margin: 50px 0;
  background: #e6e6e6;
  height: 5px;
}
.b-404 .btn {
  padding: 15px 20px;
  border: 1px solid #eb494e;
}

.b-admin-banners {
  margin-left: 20%;
  font-size: 14px;
}
.b-admin-banners table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}
.b-admin-banners table td {
  padding: 0 10px;
  height: 45px;
  border: 1px solid #eaeaea;
}
.b-admin-banners table td:nth-child(1) {
  padding: 0;
  text-align: center;
}
.b-admin-banners .b-admin-banners__format {
  font-size: 12px;
  color: #999999;
}
.b-admin-banners .input-bg {
  width: 70px;
}
.b-admin-banners .input-url {
  width: 250px;
  margin: 0 10px;
}
.b-admin-banners .btn {
  vertical-align: top;
  font-size: 12px;
  line-height: 1;
  height: 12px;
  padding: 7px 15px;
}

.sort {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 15px;
}
.sort .ctrl-up {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent black;
}
.sort .ctrl-down {
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: black transparent transparent;
}

.b-footer {
  background: black;
  height: 30px;
  min-width: 900px;
  padding: 15px 30px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.b-footer .b-logo {
  float: left;
  margin-right: 25px;
}
.b-footer .b-contacts {
  float: right;
  color: #cccbcb;
}
.b-footer .b-contacts .b-contacts__item {
  float: left;
  margin-left: 25px;
}
.b-footer .b-contacts .b-contacts__item [class^="icon-"] {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  text-align: center;
  line-height: 30px;
  background: #ba141a;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.b-footer .b-name {
  color: #999999;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 0;
}
